<nav class="navbar-wagon">
  <header class="regular-header clearfix hide-sm" role="banner">
  <div class="container navbar-wagon-container">


<!--     <a href="">
      <%= image_tag "logo.png", class: "navbar-wagon-logo" %>
    </a>
 -->
    <div class="logo">
      <a href="">CoffeePeople</a>
    </div>

    <div class="navbar-wagon-pusher"></div>

<!--     <form action="" class="navbar-wagon-search hidden-xs hidden-sm">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
-->
    <hr class="hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link hidden-xs" do %>
        <div class="icon-badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="icon-badge icon-badge-blue">3</div>
        </div>
      <% end %>
      <hr>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t ".profile", default: "Home" %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
    <hr>
    <%= link_to t(".top_call_to_action", default: "Post stuff"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %>



        <div class="nav pull-right help-menu list-unstyled">
          <li class="list-your-space pull-left">
<!--        <a class="btn white-btn" href="./cv-form.php">
              Publiez une annonce
            </a> -->
            <a type="button" class="btn white-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Publier
            </a>
            <ul class="dropdown-menu">
              <li><a href="./cv-form.php">Un CV</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="./cv-form-pro.php">Une annonce</a></li>
            </ul>
          </li>
<!--           <li class="list-your-space pull-left">
            <a class="btn white-btn" href="./cv-form-pro.php">
              Publiez votre offre
            </a>
          </li>
 -->          <li class="pull-left">
            <a class="btn naked-btn" type="button" data-toggle="modal" data-target="#logInModal">
              Se connecter
            </a>
          </li>
          <li class="pull-left">
            <a class="btn naked-btn" type="button" data-toggle="modal" data-target="#signInModal">
              S'inscrire
            </a>
          </li>
        </div>
    </div>
    </header>

</nav>
