<h1>Tous les cvs</h1>

  <div class="container">
    <div class="row">

    <% @cvs.each do |cv| %>

      <div class="col-xs-12 col-sm-4">

        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/600/300?image=0');">
          <div class="card-category"><%= cv.job %></div>
          <div class="card-text">
            <h2><%= cv.first_name %></h2>
            <p><%= cv.city %></p>
          </div>
          <div class="card-user">
          <% if cv.job == 'barista' %>
            <%= image_tag ('barista_icon.png'), class: 'avatar avatar-bordered job_icon' %>
          <% end %>
          <% if cv.job == 'cuisiner' %>
            <%= image_tag ('cuisiner_icon.png'), class: 'avatar avatar-bordered job_icon' %>
          <% end %>
          <% if cv.job == 'patissier' %>
            <%= image_tag ('patissier_icon.png'), class: 'avatar avatar-bordered job_icon' %>
          <% end %>
          </div>
          <a href="#" class="card-link"></a>
        </div>
      </div>
    <% end %>

    </div>
  </div>

